<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Predicting COVID-19 Deaths</title>
    </head>
    <body>
    <!-- page content -->
        <h1>Predicting COVID-19 Deaths from Publicly Available Data</h1>
        
        <p style="text-align:center;">
            <img src="./../static/Coronaviruses_004_lores.jpg" alt="Image of HCoV-229E virus" width=250 height=200>
        </p>

        <h2>Background</h2>
        <p>
            The COVID-19 pandemic flooded hospitals with a torrent of patients during case surges and overwhelmed the medical industry. At this time, vaccination rates are rising, but the possibility of local surges due to the Delta variant and vaccine hesitancy means hospitals may continue to face surges. During these surges staff are overwhelmed and may need a tool to help diagnose if a patient may die from their COVID-19 infection. By predicting that a patient may die from their infection, hospital staff have time to change treatment, provide targeted increased care, or can suggest experimental treatments in an effort to save a patient's life. The goal of this project is to develop a predictive model from publicly available data to determine if a COVID-19 infected patient will die from their infection with the hope this information will change treatment for the patient and save their life.
        </p>

        <h2>Model</h2>
        <p>Input case data below:</p>
        <form method='POST'>
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" value="John"><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
